# Don't track content of these folders
Task1/Report
Task2/Report
Task3/Report
Task4/Report
Task5/Report
Task6/Report
Task7/Report
Task1/HTMLReport
Task2/HTMLReport
Task3/HTMLReport
Task4/HTMLReport
Task5/HTMLReport
Task6/HTMLReport
Task7/HTMLReport